.pokemon-list {
    max-width: 80%;
    margin: 0 auto;
}

.card-image {
    height: 200px;
    padding: 20px;
}

.modal {
    border: 5px solid red;
}

.modal-img {
    width: 50%
}

.modal-content {
    border: 5px solid red;
}

.card {
    background-color: #eae6dd;
    border: 1px solid red;
    width: 18rem;
    margin: 13px;
}

.card-body {
    text-align: center;
}

.btn {
    background-color: #d88780;
    color: white;
}